<section class="banner bg-primary my-2 py-4">
    <div class="container grid">
        
        <div class="text-center">
            <h2 class="lg">Large Title</h2>
            <p class="lead my-2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente qui provident quas voluptas est explicabo ea cumque.
            </p>
            <a href="" class="btn btn-dark">Read More</a>
        </div>

        <img src="{{url_for('static', filename='images/cloud.png')}}">

    </div>
</section>