<footer class="footer bg-dark py-5 my-5">
    <div class="container grid grid-3">
        <div class="logos">
            <h1 class="lg">Loruki</h1>
            <p>Copyright &copy; 2022</p>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('features')}}">Features</a></li>
                <li><a href="{{url_for('docs')}}">Docs</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="https://github.com/loristron" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://twitter.com/loristron" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://instagram.com/loristron" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://facebook.com/loristron" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        </div> 
    </div>
</footer>