<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Codificação de caracteres especiais  -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- portabilidade para dispositivos móveis-->
    <!-- viewport: toda parte visível de uma tela no dispositivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- favico links -->
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- metas para search engine: SEO -->
    <meta name="author" content="Lorena Miranda">
    <meta name="description" content="Texto a ser mostrado na description
    dos motores de busca">
    <!-- <meta name="robots" content="nofollow"> // não seguir links dentro da página  -->
    <!-- <meta name="robots" content="index, follow"> // padrão -->
    <meta name="robots" content="index, nofollow"> 

    <!--meta social: Open graph-->
    <meta property="og:image" content="https://imagemqueofacebookusaquandovocecompartilha.jpg">
    <meta property="og:description" content="Descrição de quando essa página for compartilhada">
    <meta property="og:title" content="Título a ser mostrado no compartilhamento dessa página">

    <!-- meta social: twitter -->
    <meta name="twitter:title" content="Título mostrado no twitter">
    <meta name="twitter:description" content="Título mostrado na descrição do twitter">
    <meta name="twitter:image" content="https://imagemqueotwitterusaquandocompartilha.jpg">
    

    <title>Document</title>
</head>
<body>
    
</body>
</html>