<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Easier Deployment</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at explicabo 
                libero amet ipsam repellendus perferendis dicta totam asperiores accusamus? Harum voluptas.
                repellendus eum voluptates laborum praesentium, quidem quis dolor?
            </p>
            <a class="btn btn-outline" href="">Read More</a>
        </div>
        <div class="showcase-form card">
            <h2>Request Demo</h2>
            <form method="POST" action="{{url_for('index')}}">
                <div class="form-control">
                    <input type="text" name="name" placeholder="Name" required>
                </div>
                <div class="form-contro">
                    <input type="text" name="company" placeholder="Company" required>
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</section>