<section class="stats">
    <div class="container">
        <h3 class="stats-heading text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Odit ex voluptatibus consectetur asperiores, eos quasi quos tempore animi.
        </h3>
        <div class="grid grid-3 text-center my-4">
            <div>
                <i class="fas fa-server fa-3x my-1"></i>
                <h3>10,356</h3>
                <p class="text-secondary">Deployment</p>
            </div>
            <div>
                <i class="fas fa-upload fa-3x my-1"></i>
                <h3>956</h3>
                <p class="text-secondary">Published</p>
            </div>
            <div>
                <i class="fas fa-project-diagram fa-3x my-1"></i>
                <h3>2,5M</h3>
                <p class="text-secondary">Projects</p>
            </div>
        </div>
    </div>
</section>