{% extends 'layout.html' %}

{% block title %} Loruki Homepage {% endblock title %}

{% block content %}
    <!-- NAVBAR -->
    {% include 'resources/navbar.html' %}

    <!-- SHOWCASE -->
    {% include 'resources/showcase-section.html' %}

    <!-- STATISTICS -->
    {% include 'resources/statistics.html' %}

    <!-- CODE SECTION -->
    {% include 'resources/codesection.html' %}

    <!-- BANNER -->
    {% include 'resources/banner.html' %}

    <!-- LANGUAGES -->
    {% include 'resources/programming-languages.html' %}

    <!-- FOOTER -->
    {% include 'resources/footer.html' %}

{% endblock content %}