<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    
    <title>{% block title %} {% endblock title %}</title>

    <!-- FAVICO -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favico/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favico/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favico/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favico/site.webmanifest') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='utilities.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='general-styles.css')}}"/>

    
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

    <!-- META -->
    <meta name="author" content="Lorena Miranda - Loristron">
    <meta property="og:title" content="Luroki: Lorem Ipsum Website">
    <meta property="og:description" content="This website is a layout excercise and flask application">

    <!--meta social: Open graph-->
    <meta property="og:image" content="{{url_for('static', filename='images/logo.png')}}">
    <meta property="og:description" content="Loruki website, Developed by @loristron">
    <meta property="og:title" content="Loristron - Loruki Project">

    <!-- meta social: twitter -->
    <meta name="twitter:title" content="Loristron - Loruki Project">
    <meta name="twitter:description" content="Loruki application. Developed by @loristron">
    <meta name="twitter:image" content="{{url_for('static', filename='images/logo.png')}}">

</head>
<body>

    {% block content %}

    {% endblock content %}

</body>
</html>